<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header clearfix">
      <h2  id="AddEmployeeLabel">Update Employee's Info</h2>
      <button type="button" class="btn-close " data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
      <form #editForm="ngForm">
        <div class="form-group">
          <label for="firstName">First Name</label>
          <input type="hidden" ngModel="{{editEmployee?.employeeId}}" name="employeeId" class="form-control" id="employeeId" placeholder="">
          <input type="text" ngModel="{{editEmployee?.firstName}}" name="firstName" #firstName=ngModel
                 class="form-control" id="firstName" placeholder="First" required minlength="1">
          <div *ngIf="firstName.invalid" class="alert-danger"> First Name cannot be empty </div>
        </div>
        <div class="form-group">
          <label for="lastName">Last Name</label>
          <input type="text" ngModel="{{editEmployee?.lastName}}" name="lastName" #lastName=ngModel
                 class="form-control" id="lastName" placeholder="Last" minlength="1" required>
          <div *ngIf="lastName.invalid">Last name cannot be empty</div>
        </div>
        <div class="form-group">
          <label for="rank">Rank</label>
          <input type="text" ngModel="{{editEmployee?.rank}}" name="rank" class="form-control" id="rank" placeholder="Rank" required>
        </div>
        <div class="form-group">
          <label for="email">Email Address</label>
          <input type="email" ngModel="{{editEmployee?.email}}" name="email" #email=ngModel
                 class="form-control" id="email" placeholder="Email" required>
          <div *ngIf="email.invalid" class="alert-danger">Invalid Email</div>
        </div>
        <div class="form-group">
          <input type="hidden" ngModel="{{editEmployee?.password}}" name="password" class="form-control" id="password" placeholder="" >
        </div>
        <div class="form-group">
          <label for="phone">Phone</label>
          <input type="text" ngModel="{{editEmployee?.phoneNumber}}" name="phoneNumber" #phoneNumber=ngModel
                 class="form-control" id="phone" placeholder="Phone" minlength="10" maxlength="10" required>
          <div *ngIf="phoneNumber.invalid" class="alert-danger">Phone Number must be 10 digits long</div>
        </div>
        <div class="form-group">
          <label for="address"></label>
          <input type="text" ngModel="{{editEmployee?.location?.address}}" name="address" class="form-control" id="address" placeholder="Street Address">
        </div>
        <div class="form-group">
          <label for="city"></label>
          <input type="text" ngModel="{{editEmployee?.location?.city}}" name="city" class="form-control" id="city" placeholder="City">
        </div>
        <div class="form-group">
          <label for="state"></label>
          <input type="text" ngModel="{{editEmployee?.location?.state}}" name="state" class="form-control" id="state" placeholder="State">
        </div>
        <div class="form-group">
          <label for="zip"></label>
          <input type="text" ngModel="{{editEmployee?.location?.zip}}" name="zip" class="form-control" id="zip" placeholder="ZIP">
        </div>
        <div class="modal-footer">
          <button type="button" id="" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button [disabled]="editForm.invalid" (click)="updateEmployee(editForm.value)" data-bs-dismiss="modal" class="btn btn-primary">Save changes</button>
        </div>
      </form>
    </div>
  </div>
</div>
