<div class="">
  <div class="row text-white bgc-default-tp1 py-25">
      <div class="col-1">Emp ID </div>
      <div class="col-2">First name</div>
      <div class="col-2">Last name</div>
      <div class="col-1">Timesheet ID</div>
      <div class="col-2">Clock in</div>
      <div class="col-2">Clock out</div>
      <div class="col-2"></div>
  </div>
  <div class="" *ngFor="let t of timesheets" [timesheet]= "timesheet" style="padding-bottom: 5px;">
    <app-timesheet [timesheet] ="t" ></app-timesheet>
  </div>
</div>

