<div class="container">
  <mat-card>
    <div class="row">
      <div class="col-md-4 "></div>
      <div class="col-md-4 text-center">
        <h1>Please enter your credentials</h1>
      </div>
      <div class="col extra-space"></div>
    </div>
      <div class="row">
        <div class="col-md-4 col-sm-2 col-xs-4"></div>
        <div class="col-md-4 col-sm-8 col-xs-4 border border-dark p-5 loginBox">
          <form (submit)="onClockIn(postForm)" #postForm="ngForm">
            <div class="row">
              <mat-form-field>
                <input matInput
                type="text"
                name="email"
                required
                placeholder="email"
                #email="ngModel"
                ngModel
                >
              </mat-form-field>
            </div>
            <div class="row">
              <mat-form-field>
                <input matInput
                type="text"
                name="password"
                required
                placeholder="password"
                #password="ngModel"
                ngModel
                >
              </mat-form-field>
            </div>
            <div class="row" style="height: 50px; margin-top: 10px;">
              <mat-radio-group required ngModel name="inOrOut">

                <mat-radio-button style="margin-right: 80px;" value="in">Clock in</mat-radio-button>

                <mat-radio-button value="out">Clock out</mat-radio-button>


              </mat-radio-group>
            </div>

            <input class="btn btn-grey" type="button" value="Go back" [routerLink]="['/']">
            <input class="btn btn-primary" type="submit" value="Register">
          </form>
        </div>
        <div class="col-md-4 col-sm-2 col-xs-4"></div>
      </div>
      <div class="row">
        <div class="col-md-4 extra-space"></div>
      </div>
  </mat-card>
</div>
