<div class="container">
  <mat-card>
    <div class="row">
      <div class="col-4 extra-space"></div>
      <div class="col-4 text-center">
        <h1>Please enter your credentials</h1>
      </div>
    </div>
      <div class="row">
        <div class="col-4"></div>
        <div class="col-4 border border-dark p-5 loginBox">
          <form (submit)="onClockIn(postForm)" #postForm="ngForm" >

            <div class="row">
              <mat-form-field>
                <input matInput
                type="text"
                name="email"
                [ngModel]=""
                required
                placeholder="email"
                #email="ngModel"
                ngModel
                >
                <mat-error *ngIf="">Please enter your email</mat-error>
              </mat-form-field>
            </div>
            <div class="row">
              <mat-form-field>
                <input matInput
                type="text"
                name="password"
                [ngModel]=""
                required
                placeholder="password"
                #password="ngModel"
                ngModel
                >
                <mat-error *ngIf="">Please enter your password</mat-error>
              </mat-form-field>

            </div>
            <button mat-raised-button style="background-color: #12ce1b; color:#eeebdd" type="submit">clock in</button>
            <button mat-raised-button style="background-color: #ce1212; color:#eeebdd" type="submit">clock out</button>
          </form>
        </div>
      </div>
      <div class="row">
        <div class="col extra-space"></div>
      </div>
  </mat-card>
</div>
