<div class="row">
    <div class="col-8 mx-auto">
        <table class="table table-light table-striped">
            <thead>
                <tr>
                    <th>Customer Name</th>
                    <th>Item Name</th>
                    <th>Quantity</th>
                    <th>Purchase Date</th>

                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let thisOrder of orders, let i = index">
                    <td>{{ thisOrder.customer.firstName }} {{ thisOrder.customer.lastName }}</td>
                    <td>{{ thisOrder.orderDetails[0].item.name }}</td>
                    <td>{{ thisOrder.orderDetails[0].quantity }}</td>
                    <td>{{ thisOrder.dateOfOrder | date }}</td>
                </tr>
            </tbody>
        </table>
    </div>

</div>