<div class="container">
  <mat-card>
    <div class="row">
      <div class="col-4 extra-space"></div>
      <div class="col-4 text-center">
        <h1>Please fill out Order Form</h1>
      </div>
    </div>
      <mat-spinner *ngIf ="isLoading"></mat-spinner>

      <div class="row">
        <div class="col-4"></div>
        <div class="col-4 border border-dark p-5 loginBox">
          <form (submit)="onSubmitForm(postForm)" #postForm="ngForm" *ngIf ="!isLoading">
            <div class="row form-group mb-2">
              <label for="Customer Email">Customer Email</label>

                <input class="form-group"
                type="text"
                name="email"
                [ngModel]="customer?.email"
                required
                placeholder="Customer's email"
                #email="ngModel"
                >

            </div>
            <div class="row form-group mt-2">
              <label for="Customer Email">Select an item</label>
                <select class="form-control mb-2" name="item" id="" *ngFor="let thisItem of items">
                  <option value="placeholder" style="-color: lightgray;">Please choose an item</option>

                  <option value="">{{thisItem.item.name}}</option>
                </select>
            </div>
            <div class="row form-group ml-0 mb-2">
              <label for="quantity">Quantity</label>
              <input type="number" name="quantity">
            </div>
            <div class="row">
              <button class="btn btn-danger mb-2 ml-0" type="submit">Create Order</button>
            </div>
          </form>
        </div>
      </div>
      <div class="row">
        <div class="col extra-space"></div>
      </div>
  </mat-card>
</div>
