

<div *ngFor="let employee of employees">
    <div>{{employee.firstName}}</div>
</div>




<!-- 
<div class="row">
  <div class="col-6">
    <h1></h1>
      <table class="table table-dark table-striped">
          <thead>
              <tr>
                  <th>First Name</th>
                  <th>Last Name</th>
                  <th>email</th>
              </tr>
          </thead>
          <tbody>
              <tr *ngFor="let thisEmployee of employees">
                  <td>{{thisEmployee.firstName}}</td>
                  <td>{{thisEmployee.LastName}}</td>
                  <td>{{thisEmployee.email}}</td>
              </tr>
          </tbody>
      </table>
  </div>

</div> -->
