<div class="clearfix">
    <nav class="navbar-brand float-start">Manage Employee's</nav>
</div>

<div><br></div>

<nav class="navbar navbar-expand navbar-ligt bg-light">

    <div class="col nav-item-active" >
        <a class="navbar-brand button" (click)="openModal('Add')">Add Employee</a>
    </div>

    <div class="col"></div>

    <div class="col">
        <input type="text" class="form-control" placeholder="Search Employees" aria-label="uptosomething">
    </div>
</nav>


<br>


<div class="row" id="main-spot">
    <div class="main-box clearfix">
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th><span>Employee</span></th>
                        <th ><span>Rank</span></th>
                        <th><span>Email</span></th>
                        <th><span>Phone</span></th>
                        <th><span>ID</span></th>
                        <th><span>Location</span></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let employee of employees" class="clearfix" >
                        <td>
                            <a>{{employee.firstName}} {{employee.lastName}}</a>
                        </td>
                        <td >
                            <a>{{employee.rank}}</a>
                        </td>
                        <td>
                            <a>{{employee.email}}</a>
                        </td>
                        <td>
                            <a>{{employee.phoneNumber}}</a>
                        </td>
                        <td>
                            <span>{{employee.employeeId}}</span>
                        </td>
                        <td>
                            <span>{{employee.location}}</span>
                        </td>
                        <td>
                          <button type="button" class="btn btn-secondary btn-sm" (click)="openModal('Edit')">Edit</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>



<!-- Add Employee Modal-->
<div class="modal fade" id="AddEmployee" tabindex="-1" aria-labelledby="AddEmployeeModal" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Enter New Employee's Info</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form #addForm="ngForm" (ngSubmit)="addEmployee(addForm)">
            <div class="form-group">
              <label for="name">Name</label>
              <input type="text" ngModel name="name" class="form-control" id="name" placeholder="Name" required>
            </div>
            <div class="form-group">
              <label for="phone">Rank</label>
              <input type="text" ngModel name="jobTitle" class="form-control" id="jobTile" placeholder="Job title" required>
            </div>
            <div class="form-group">
              <label for="email">Email Address</label>
              <input type="email" ngModel name="email" class="form-control" id="email" placeholder="Email" required>
            </div>
            <div class="form-group">
              <label for="phone">Phone</label>
              <input type="text" ngModel name="phone" class="form-control" id="phone" placeholder="Phone" required>
            </div>
            <div class="form-group">
              <label for="phone"></label>
              <input type="text" [(ngModel)] name="" class="form-control" id="imageUrl" placeholder="(123) 456-7890" required>
            </div>
            <div class="modal-footer">
              <button type="button" id="add-employee-form" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button [disabled]="addForm.invalid" type="submit" class="btn btn-primary" >Save changes</button>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save</button>
        </div>
      </div>
    </div>
</div>

<!--<div class="modal fade" id="AddEmployees" tabindex="-1" role="dialog" aria-labelledby="addEmployeeModalLabel" aria-hidden="true">-->
<!--  <div class="modal-dialog" role="document">-->
<!--    <div class="modal-content">-->
<!--      <div class="modal-header">-->
<!--        <h5 class="modal-title" id="addEmployeeModalLabel">Add Employee</h5>-->
<!--        <button type="button" class="close" data-dismiss="modal" aria-label="Close">-->
<!--          <span aria-hidden="true">&times;</span>-->
<!--        </button>-->
<!--      </div>-->
<!--      <div class="modal-body">-->

<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->


<div class="modal fade" id="EditEmployee" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"> Update Employee </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger">Delete</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save</button>
      </div>
    </div>
  </div>
</div>
