<div class="clearfix">
    <nav class="navbar-brand float-start">Manage Employee's</nav>
</div>

<div><br></div>

<nav class="navbar navbar-expand navbar-ligt bg-light">

    <div class="col nav-item-active" >
        <a class="navbar-brand button" (click)="openModal(null,'Add')">Add Employee</a>
    </div>

    <div class="col"></div>

    <div class="col">
        <input type="text" class="form-control" placeholder="Search Employees" aria-label="uptosomething">
    </div>
</nav>


<br>

<div class="Number Displaying: ">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="offset" data-bs-toggle="dropdown" aria-expanded="false">
    Dropdown button
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
    <li><a class="dropdown-item" >Action</a></li>
    <li><a class="dropdown-item" href="#">Another action</a></li>
    <li><a class="dropdown-item" href="#">Something else here</a></li>
  </ul>
</div>

<div class="row" id="main-spot">
    <div class="clearfix">
        <div >
            <table class="table">
                <thead>
                    <tr>
                        <th><span>Employee</span></th>
                        <th ><span>Rank</span></th>
                        <th><span>Email</span></th>
                        <th><span>Phone</span></th>
                        <th><span>ID</span></th>
                        <th><span>Location</span></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let employee of employees" class="clearfix" >
                        <td><span>{{employee.firstName}} {{employee.lastName}}</span></td>
                        <td ><span>{{employee.rank}}</span></td>
                        <td><span>{{employee.email}}</span></td>
                        <td><span>{{employee.phoneNumber}}</span></td>
                        <td><span>{{employee.employeeId}}</span></td>
                        <td><span>{{employee.location?.state}}</span></td>
                      <td><button (click)="openModal(employee,'Edit')"><mat-icon>edit</mat-icon></button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>


<nav aria-label="Page navigation example" style="position:absolute; left: 50%; transform: translate(-50%, 0%);" *ngIf='!isLoading'>
  <ul class="pagination">
    <li class="page-item" ><a class="page-link" (click)="changePage('first')" *ngIf="currentPage > 1">First</a></li>
    <li class="page-item"><a class="page-link" (click)="changePage('first')" *ngIf="currentPage > 1">First</a></li>
    <li class="page-item"><a class="page-link" (click)="changePage('previous')" *ngIf="currentPage > 0">Previous</a></li>
    <li class="page-item"><a class="page-link" style="color: black; font-weight: bold;">Current Page: {{ currentPage + 1 }}</a></li>
    <li class="page-item"><a class="page-link" (click)="changePage('next')" *ngIf="currentPage <= (totalPages-2)">Next</a></li>
    <li class="page-item"><a class="page-link" (click)="changePage('last')" *ngIf="currentPage <= (totalPages-1)">Last</a></li>
  </ul>
</nav>

<!-- Add Employee Modal-->
<div class="modal fade" id="AddEmployee" tabindex="-1" aria-labelledby="AddEmployeeLabel" aria-hidden="true">
 <app-add-employee></app-add-employee>
</div>

<!-- Edit Employee Modal -->
<div class="modal fade" id="EditEmployee" tabindex="-1" aria-labelledby="EditModalLabel" aria-hidden="true">
        <app-edit-employee [editEmployee]="editingEmployee"></app-edit-employee>
</div>
