<mat-card>
  <div class="container">
    <div class="row d-flex flex-row">
      <div class="col-4 extra-space">
      </div>
      <div class="col-4 text-center">
        <h1>Welcome, Please make a selection below</h1>
      </div>
    </div>
    <div class="row">
      <div class="col d-flex flex-row justify-content-around">
        <div class="box border border-dark text-center ">
          <h2 class="p-5"><a routerLink="/employees">Manage Employees</a></h2>
        </div>
        <div class="box border border-dark text-center">
          <h2 class="p-5"><a routerLink="/inventory/manage">Manage Inventory</a></h2>
        </div>
        <div class="box border border-dark text-center">
          <h2 class="p-5"><a routerLink="/customers">Manage Customers </a></h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col extra-space"></div>
    </div>
    <div class="row">
      <div class="col d-flex flex-row justify-content-around">
        <div class="box border border-dark text-center ">
          <h2 class="p-5"><a routerLink="/orders">Manage Orders</a></h2>
        </div>
        <div class="box border border-dark text-center">
          <h2 class="p-5"><a routerLink="/clock-in-out">Clock in/out</a></h2>
        </div>
        <div class="box border border-dark text-center">
          <h2 class="p-5"><a routerLink="/swashbucklers">Logout</a></h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col extra-space"></div>
    </div>
  </div>

</mat-card>
